.right.nav
  %a{href: "/"} Posts
  %span.seperator
    |
  %a{href: "/feed.xml"} RSS
  %span.seperator 
    |
  - if logged_in?
    %a{href: "/admin"} Admin
    %span.seperator 
      |
    %form{action: "/logout", method: "POST", style: "display: inline"}
      %a{href: "#", onclick: "this.parentNode.submit()"} Logout
    %br/
    Logged in as
    %strong= session[:user][:screen_name]
  - else
    %a{href: "/login"} Login