.right{style: "float: right;"}
  - if logged_in?
    %a{href: "/admin"} Admin
    |
    %form{action: "/logout", method: "POST", style: "display: inline"}
      %a{href: "#", onclick: "this.parentNode.submit()"} Logout
  - else
    %a{href: "/login"} Login