.right
  %a{href: "/feed.xml"} RSS
  |
  - if logged_in?
    %a{href: "/admin"} Admin
    |
    %form{action: "/logout", method: "POST", style: "display: inline"}
      %a{href: "#", onclick: "this.parentNode.submit()"} Logout
    %br/
    Logged in as
    %strong= session[:user][:screen_name]
  - else
    %a{href: "/login"} Login