.pagination
  %span.older
    - if @current_page + 1 < max_pages
      %a{href: "/!#{@current_page + 1}"} older entries
  - if @current_page > 1 and @current_page + 1 < max_pages
    %span.seperator
      |
  %span.newer
    - if @current_page > 1
      %a{href: "/!#{@current_page - 1}"} newer entries