.pagination
  %span.older
    - if @current_page < max_pages
      %a{href: "/!#{@current_page + 1}"} older entries
  - if @current_page > 1 && @current_page < max_pages
    %span.seperator
      |
  %span.newer
    - if @current_page > 1
      %a{href: "/!#{@current_page - 1}"} newer entries
