%h1 About #{NBlog.config['title']}
%p
  #{NBlog.config['title']} is running
  %i #{NBLOG_VERSION}
  which is freely available at
  %a{href: "https://github.com/nilsding/nblog"} github.com/nilsding/nblog.
  Feel free to contribute.
