%h2 About this site
%p
  This site is running
  %i #{NBLOG_VERSION}
  which is freely available at
  %a{href: "https://github.com/nilsding/nblog"} github.com/nilsding/nblog

.centre
  %p
    %a{href: url("/")} Go back