= haml :_compose

%h2 View post

%ul.posts
  %li.post
    %span.controls
      - if !session[:user].nil? and @p["created_by"] == session[:user][:id]
        %a{href: @p["url"] + "/edit"} [e]
      %a{href: @p["url"]} [l]
    %article<= @p["content"]

.centre
  %p
    Published:
    = @p["date"].rfc822
  %p
    %a{href: url("/")} Go back